#pass{
    
    width: 30.313em;
    height: 3.125em;

    background: #FFFFFF;
    border: 0.063em  solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 0.250em;
}
input[type="password"]::-webkit-input-placeholder{
    width: 4.438em;
    height: 1.188em;

    font-size: 1.000em;
    line-height: 1.188em;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    padding-left: 0 !important;
    color: #9296A3;
    opacity: 0.7;
}