#pass{
    
    width: 485px;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 4px;
}
input[type="password"]::-webkit-input-placeholder{
    width: 71px;
    height: 19px;

    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    padding-left: 15px;
    color: #9296A3;
    opacity: 0.7;
}