/* styling for 1440px  */
.signup{
    position: relative;
    padding: 12.500em 0 8.938em 0;
    /* margin: 200px 0 150px 0; */
}
.SignUp{
    background: #FAFAFA;
}
body{
    background-color:  #F2F2F2;;
}
.logo{
    margin: 0 0 1.875em 0;
}

.alreday_account p{
    font-size: 0.875em;
    line-height: 1em;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.01em;
    margin:1.563em 0 0.500em 0;
    /* sb/dark */
    color: #3E4358;
}
.alreday_account a{
    color: #105C9B;
    font-size: 1em;
    line-height: 1em;
    font-weight: 500;
}
.sticker_butler{
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*------------- 1024px -----------------*/
@media only screen and (max-width:1366px) {
    .signup{
        position: relative;
        padding: 11.25em 0 6.25em 0;
    }
}

/*------------- 991px -----------------*/
@media only screen and (max-width:1024px) {
    .signup{
        position: relative;
        padding: 6.25em 0 5em 0;
    }
    .butler_img{
        width:12em;
        height:12em;
    }
}

/*------------- 767px -----------------*/
@media only screen and (max-width:991px) {
    .signup{
        position: relative;
        padding: 5.25em 0 5em 0;
    }
    .butler_img{
        width:7em;
        height:7em;
    }
}



